{% extends 'home.html' %}
{% block content %}

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{{ list[1] }}</h1>
		 <div class="container">
             <h3>Species: {{ list[3]|title }}</h3>
             <h3>Date of Birth: {{ list[7] }}</h3>
             <h3>Sex: {{ list[9]|title }} </h3>
             <h3>Feeding Schedule: {{ list[5]|title }}</h3>

            <br><br>

            <button type="button" id="btn" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add Feeding Record</button> &nbsp &nbsp
             <button type="button" id="btn" class="btn btn-primary" data-toggle="modal" data-target="#addVetModal">Add Vet Record</button>&nbsp &nbsp
             <button type="button" id="btn" class="btn btn-primary" data-toggle="modal" data-target="#editFeedModal">Edit Feeding Schedule</button>

            <br><br><br>
          <h3>Vet Records</h3>
               <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Heart Rate</th>
                        <th>Respiratory Rate</th>
                        <th>Temperature</th>
                        <th>Weight</th>
                        <th>Notes</th>
                        <th>Vet</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for rec in vet_records %}
                        <tr>
                            <td>{{ rec[0] }}</td>
                            <td>{{ rec[5] }}</td>
                            <td>{{ rec[6] }}</td>
                            <td>{{ rec[7] }}</td>
                            <td>{{ rec[8] }}</td>
                            <td>{{ rec[9] }}</td>
                            <td>{{ rec[3]|title }} {{ rec[4]|title }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

         <br><br>
         <h3>Feed Records</h3>
               <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Food Type</th>
                        <th>Amount</th>
                        <th>Keeper</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for rec in feed_records %}
                        <tr>
                            <td>{{ rec[0] }}</td>
                            <td>{{ rec[8]|title }}</td>
                            <td>{{ rec[6] }}</td>
                            <td>{{ rec[3]|title }} {{ rec[4]|title }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


    <!-- Update Modal -->
                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add Feed Record</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/add_feed_rec_detail" name="form" method="post">
                                    <input type="hidden" value="{{ list[0] }}" name="anim_id">

                                    <div class="form-group">
                                        <label for="type">Food Type</label>
                                        <select id="type" name="type" class="form-control">
                                            {% for food in foods %}
                                                <option {% if list[10] == food[0] %} selected {% endif %}value="{{ food[0] }}">{{ food[1]|title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                 <div class="form-group">
                                        <label for="amount">Food Amount</label>
                                        <input type="text" class="form-control" id="amount" name="amount" placeholder="lbs">
                                    </div>
                                <div class="form-group">
                                        <label for="emp_id">Zoo Keeper</label>
                                        <select id="emp_id" name="emp_id" class="form-control">
                                            {% for keeper in keepers %}
                                                <option value="{{ keeper[0] }}">{{ keeper[1]|title }} {{ keeper[2]|title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- End Update Modal -->

         <div class="modal fade" id="addVetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add Vet Record</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/add_vet_rec" name="form" method="post">
                                    <input type="hidden" value="{{ list[0] }}" name="anim_id">
                                 <div class="form-group">
                                        <label for="hr">Heart Rate</label>
                                        <input type="number" class="form-control" id="hr" name="hr" placeholder="Heart Rate">
                                    </div>
                                <div class="form-group">
                                        <label for="res">Respiratory Rate</label>
                                        <input type="number" class="form-control" id="res" name="res" placeholder="Respiratory Rate">
                                    </div>
                                <div class="form-group">
                                        <label for="temp">Temperature</label>
                                        <input type="text" class="form-control" id="temp" name="temp" placeholder="Fahrenheit">
                                    </div>
                                <div class="form-group">
                                        <label for="weight">Weight</label>
                                        <input type="text" class="form-control" id="weight" name="weight" placeholder="lbs">
                                    </div>
                                <div class="form-group">
                                        <label for="note">Notes</label>
                                        <input type="text" class="form-control" id="note" name="note">
                                    </div>
                                <div class="form-group">
                                <label for="date_time">Date</label>
                                <input type="date" class="form-control" id="date_time" name="date_time" placeholder="yyyy-mm-dd">
                            </div>
                                <div class="form-group">
                                        <label for="emp_id">Vets</label>
                                        <select id="emp_id" name="emp_id" class="form-control">
                                            {% for vet in vets %}
                                                <option value="{{ vet[0] }}">{{ vet[1]|title }} {{ vet[2]|title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
         </div>

         <div class="modal fade" id="editFeedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Edit Feed Schedule</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/edit_feed_sched" name="form" method="post">
                                    <input type="hidden" value="{{ list[0] }}" name="anim_id">

                                <div class="form-group">
                                        <label for="sched_id">Feed Schedule</label>
                                        <select id="sched_id" name="sched_id" class="form-control">
                                            {% for sched in sched_list %}
                                                <option {% if list[4] == sched[0] %} selected {% endif %} value="{{ sched[0] }}">{{ sched[1]|title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
         </div>


		 <div>
	</div>

{% endblock %}