{% extends 'home.html' %}
{% block content %}

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Choose a Species</h1>
        <div class="container">
		{% for spec in list %}
            <a href="/species/{{ spec[0] }}" class="btn btn-default btn-lg btn-block">{{ spec[1] }}</a> <br>
		{% endfor %}

         <button type="button" id="btn" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add New Species</button>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add New Species</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/add_species" name="form" method="post">
                            <div class="form-group">
                                <label for="name">Species Name</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                            </div>
                             <div class="form-group">
                                <label for="desc">Description</label>
                                <input type="text" class="form-control" id="desc" name="desc" placeholder="Description">
                            </div>
                            <div class="form-group">
                                <label for="food">Food Type</label>
                                <select name="food" id="food" class="form-control">
                                    {% for food in food_list %}
                                    <option value="{{ food[0] }}">{{ food[1]|title }}</option>
                                    {% endfor %}

                                </select>
                            </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>

	</div>

{% endblock %}