{% extends 'home.html' %}
{% block content %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Employees</h1>


        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Wage</th>
                <th>Specialty</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% set previous = '' %}
			{% for employee in list %}
                {% if employee[0] != previous %}
                    <tr>
                        <td>{{ employee[1]|title }} {{ employee[2]|title }}</td>
                        <td>{% if employee[9] == 'v' %}  Vet {% else %} Keeper {% endif %}</td>
                        <td>{{ employee[11] }}</td>
                        <td> {{ employee[13]}}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                    data-target="#updateModal-{{ employee[0] }}">Update
                            </button>
                        </td>
                    </tr>
                    {% set previous = employee[0] %}

                {% else %}
                    <tr class="no-border">
                        <td class="no-border"></td>
                        <td class="no-border"></td>
                        <td class="no-border"></td>
                        <td class="no-border">{{ employee[13]}}</td>
                        <td class="no-border"></td>
                    </tr>
                {% endif %}
			{% endfor %}
            </tbody>
        </table>


        {% for employee in list %}

                <!-- Modal -->
                <div class="modal fade" id="updateModal-{{ employee[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Update Employee: {{ employee[1] }} {{ employee[2] }}</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/update_employee" name="form" method="post">
                                    <input type="hidden" value="{{ employee[0] }}" name="id">
                                    <div class="form-group">
                                        <label for="fname">First Name</label>
                                        <input type="text" class="form-control" id="fname" name="fname" value="{{ employee[1] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="lname">Last Name</label>
                                        <input type="text" class="form-control" id="lname" name="lname" value="{{ employee[2] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input type="text" class="form-control" id="address" name="address" value="{{ employee[3] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="city">City</label>
                                        <input type="text" class="form-control" id="city" name="city" value="{{ employee[4] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="state">State</label>
                                        <input type="text" class="form-control" id="state" name="state" value="{{ employee[5] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="zip">Zipcode</label>
                                        <input type="number" class="form-control" id="zipcode" name="zipcode" value="{{ employee[6] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="ssn">SSN</label>
                                        <input type="number" class="form-control" id="ssn" name="ssn" value="{{ employee[7] }}">
                                    </div>
                                <input type="hidden" value="{% if employee[9] == 'k' %}keeper{% else %}vet{% endif %}" name="position">
{#                                    <div class="form-group">#}
{#                                        <label for="position">Position</label>#}
{#                                        <select id="position" name="position" class="form-control">#}
{#                                            {% if employee[9] == 'k' %}#}
{#                                              <option value="keeper">Keeper</option>#}
{#                                              <option value="vet">Vet</option>#}
{#                                            {% else %}#}
{#                                                <option value="vet">Vet</option>#}
{#                                                <option value="keeper">Keeper</option>#}
{#                                            {% endif %}#}
{#                                        </select>#}
{#                                    </div>#}
                                     <div class="form-group">
                                        <label for="animal_list">Specialty</label>
                                        <select multiple id="animal_list" name="animal_list" class="form-control">
                                             {% for species in spec_list %}
                                                 {% set hashString = employee[0]|string + '/' + species[0]|string %}
                                                 {% if hashString in emp_spec_dict %}
                                                    <option selected value="{{ species[0] }}">{{ species[1] }}</option>
                                                 {% else %}
                                                     <option value="{{ species[0] }}">{{ species[1] }}</option>
                                                 {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="license">Vet License</label>
                                        <input type="date" class="form-control" id="license" name="license" value="{{ employee[10] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="wage">Wage</label>
                                        <input type="text" class="form-control" id="wage" name="wage" value="{{ employee[11] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="hired">Hired Date</label>
                                        <input type="date" class="form-control" id="hired" name="hired" value="{{ employee[8] }}">
                                    </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



        {% endfor %}





        <button type="button" id="btn" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add Employee</button>


        <!-- Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Employee</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/add_employee" name="form" method="post">
                            <div class="form-group">
                                <label for="fname">First Name</label>
                                <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <label for="lname">Last Name</label>
                                <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address" name="address" placeholder="Address">
                            </div>
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" name="city" placeholder="City">
                            </div>
                            <div class="form-group">
                                <label for="state">State</label>
                                <input type="text" class="form-control" id="state" name="state" placeholder="State">
                            </div>
                            <div class="form-group">
                                <label for="zip">Zipcode</label>
                                <input type="number" class="form-control" id="zipcode" name="zipcode" placeholder="Zipcode">
                            </div>
                            <div class="form-group">
                                <label for="ssn">SSN</label>
                                <input type="number" class="form-control" id="ssn" name="ssn" placeholder="SSN">
                            </div>
                            <div class="form-group">
                                <label for="position">Position</label>
                                <select id="position" name="position" class="form-control">
                                      <option value="keeper">Keeper</option>
                                      <option value="vet">Vet</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="animal_list">Specialty</label>
                                <select multiple id="animal_list" name="animal_list" class="form-control">
                                     {% for species in spec_list %}
                                        <option value="{{ species[0] }}">{{ species[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="license">Vet License</label>
                                <input type="date" class="form-control" id="license" name="license" placeholder="yyyy-mm-dd">
                            </div>
                            <div class="form-group">
                                <label for="wage">Wage</label>
                                <input type="text" class="form-control" id="wage" name="wage" placeholder="Wage">
                            </div>
                            <div class="form-group">
                                <label for="hired">Hired Date</label>
                                <input type="date" class="form-control" id="hired" name="hired" placeholder="yyyy-mm-dd">
                            </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Modal -->

    </div>

{% endblock %}