{% extends 'home.html' %}
{% block content %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Feeding Schedules</h1>
        <div class="container">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Description</th>
                        <th>Notes</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set index = 0 %}
                    {% for detail in list %}
                        <tr>
                            <td>{{ detail[1]|title }}</td>
                            <td>{{ detail[2]|title }}</td>
                            <td>
                                <button type="button" id="btn" class="btn btn-primary" data-toggle="modal" data-target="#editModal{{ index }}">Edit</button>
                            </td>
                        </tr>
                        {% set index = index + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <button type="button" id="btn" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add Feed Schedule</button>


            {% set index = 0 %}
            {% for detail in list %}

                <!-- Update Modal -->
                <div class="modal fade" id="editModal{{ index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Edit Feeding Schedule</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/edit_feeding_sched" name="form" method="post">
                                    <input type="hidden" value="{{ detail[0] }}" name="sched_id">

                                    <div class="form-group">
                                        <label for="desc">Description</label>
                                        <input type="text" class="form-control" id="desc" name="desc" value="{{ detail[1]|title }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="notes">Notes</label>
                                        <input type="text" class="form-control" id="notes" name="notes" value="{{ detail[2]|title }}">
                                    </div>
                                    <table class="table">
                                        <th></th>
                                        <th>Morning</th>
                                        <th>Afternoon</th>
                                        <th>Evening</th>
                                    <tbody>
                                    {% set count = 1 %}
                                    {% set weekCount = 0 %}
                                    {%  for day in weekTableFormat[detail[0]] %}
                                         <tr>
                                         <td>{{ weekdays[weekCount] }}</td>
                                         {% set weekCount = weekCount + 1 %}
                                         {% set count1 = count  %}
                                        {% for time in day %}

                                            <td><input type="checkbox" name="sched" value="{{ count1 }}" {% if time == 1 %} checked {% endif %}> </td>

                                            {% set count1 = count1 + 1  %}

                                        {% endfor %}
                                        </tr>
                                        {% set count = count + 3 %}
                                    {% endfor %}
                                    </tbody>
                                </table>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% set index = index + 1 %}
            {% endfor %}


        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add Feeding Schedule</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/add_feeding_sched" name="form" method="post">


                                    <div class="form-group">
                                        <label for="desc">Description</label>
                                        <input type="text" class="form-control" id="desc" name="desc" >
                                    </div>
                                    <div class="form-group">
                                        <label for="notes">Notes</label>
                                        <input type="text" class="form-control" id="notes" name="notes">
                                    </div>
                                    <table class="table">
                                        <th></th>
                                        <th>Morning</th>
                                        <th>Afternoon</th>
                                        <th>Evening</th>
                                    <tbody>
                                    {% set count = 1 %}
                                    {% set weekCount = 0 %}
                                    {%  for day in range(7) %}
                                         <tr>
                                         <td>{{ weekdays[weekCount] }}</td>
                                         {% set weekCount = weekCount + 1 %}
                                         {% set count1 = count  %}
                                        {% for time in range(3) %}

                                            <td><input type="checkbox" name="sched" value="{{ count1 }}"> </td>

                                            {% set count1 = count1 + 1  %}

                                        {% endfor %}
                                        </tr>
                                        {% set count = count + 3 %}
                                    {% endfor %}
                                    </tbody>
                                </table>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


        </div>
    </div>

{% endblock %}