{% extends 'home.html' %}
{% block content %}

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Feeding History</h1>

		<table class="table table-hover">
            <thead>
            <tr>
                <th>Timestamp</th>

				<th>Meal</th>
				<th>Animal</th>
                <th>Quantity (lbs)</th>
                <th>Food Type</th>
				<th>Keeper</th>
                <th></th>
                <th></th>

            </tr>
            </thead>
            <tbody>
			{% for animal in list %}
                <tr>
                    <td>{{ animal[0] }}</td>
                     <td>{{ animal[1]|title }}</td>
                     <td>{{ animal[3]|title }}</td>
                     <td>{{ animal[6] }}</td>
                     <td>{{ animal[7]|title }}</td>
                     <td>{{ animal[5]|title }}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#updateModal{{ animal[9] }}">Update
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#deleteModal{{ animal[9] }}">Delete
                        </button>
                    </td>
                </tr>
			{% endfor %}
            </tbody>
        </table>

    {% for animal in list %}

         <!-- Update Modal -->
                <div class="modal fade" id="updateModal{{ animal[9] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Update Feed Record: {{ animal[3]|title }}</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/update_feed_rec" name="form" method="post">
                                    <input type="hidden" value="{{ animal[0] }}" name="dateTime">
                                    <input type="hidden" value="{{ animal[4] }}" name="emp_id">
                                    <input type="hidden" value="{{ animal[2] }}" name="animal_id">
                                    <div class="form-group">
                                        <label for="type">Food Type</label>
                                        <select id="type" name="type" class="form-control">
                                            {% for food in food_list %}
                                                <option {% if animal[7] == food[1] %} selected {% endif %}value="{{ food[0] }}">{{ food[1]|title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                 <div class="form-group">
                                        <label for="amount">Food Amount</label>
                                        <input type="text" class="form-control" id="amount" name="amount" value="{{ animal[6] }}">
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- End Update Modal -->

            <!-- Delete Modal -->
                <div class="modal fade" id="deleteModal{{ animal[9] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>

                            </div>
                            <div class="modal-body">
                                 <h4>Delete Feed Record: {{ animal[3]|title }}?</h4>
                                <form action="/delete_feed_rec" name="form" method="post">
                                    <input type="hidden" value="{{ animal[0] }}" name="dateTime">
                                    <input type="hidden" value="{{ animal[4] }}" name="emp_id">
                                    <input type="hidden" value="{{ animal[2] }}" name="animal_id">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- End Delete Modal -->

    {% endfor %}


	</div>

{% endblock %}>