{% extends 'home.html' %}
{% block content %}

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Food Inventory</h1>

		<table class="table table-hover">
            <thead>
            <tr>
                <th>Food Type</th>
                <th>Quantity (lbs)</th>
                <th>Manufacturer</th>
                <th>Product Barcode</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
			{% for food in list %}
                <tr>
                    <td>{{ food[1]|title }}</td>
                    <td>{{ food[2] }}</td>
                    <td>{{ food[4]|title }}</td>
                    <td>{{ food[5]}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#updateModal-{{ food[0] }}">Update Stock
                        </button>
                    </td>
                </tr>
			{% endfor %}
            </tbody>
        </table>


        {% for food in list %}

            <!-- Update Modal -->
             <div class="modal fade" id="updateModal-{{ food[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Add Food Stock: {{ food[1]|title }}</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Quantity (lbs)</th>
                                    <th></th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for rec in records %}
                                    <tr>
                                        <td>{{ rec[2] }}</td>
                                        <td>{{ rec[3] }}</td>
                                        <td><form action="/delete_inventory_rec" name="form" method="post">
                                            <input type="hidden" value="{{ rec[0] }}" name="food_id">
                                            <input type="hidden" value="{{ rec[2] }}" name="date_time">

                                            <input type="submit" class="btn btn-primary" value="X">
                                            </form></td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <form action="/update_food_stock" name="form" method="post">
                                <input type="hidden" value="{{ food[0] }}" name="food_id">
                                <div class="form-group">
                                    <label for="amount">Add Amount</label>
                                    <input type="text" class="form-control" id="amount" name="amount" placeholder="lbs">
                                </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        {% endfor %}

        <!-- Add Food Type Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Food Type</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/add_food_type" name="form" method="post">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="barcode">Barcode</label>
                                <input type="text" class="form-control" id="barcode" name="barcode" placeholder="Product Barcode">
                            </div>
                            <div class="form-group">
                                <label for="manu_id">Manufacturer</label>
                                <select  id="manu_id" name="manu_id" class="form-control">
                                      {% for manu in manu_list %}
                                        <option value="{{ manu[0] }}">{{ manu[1]|title }}</option>
                                      {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="quantity">Quantity (lbs)</label>
                                <input type="text" class="form-control" id="quantity" name="quantity" placeholder="Quantity (lbs)">
                            </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <!-- Add Manu Modal -->
        <div class="modal fade" id="addManuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Manufacturer</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/submit_manu" name="form" method="post">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address" name="address" placeholder="Address">
                            </div>
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" name="city" placeholder="City">
                            </div>
                            <div class="form-group">
                                <label for="state">State</label>
                                <input type="text" class="form-control" id="state" name="state" placeholder="State">
                            </div>
                            <div class="form-group">
                                <label for="zip">Zipcode</label>
                                <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="Zipcode">
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone Number</label>
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number">
                            </div>
                            <div class="form-group">
                                <label for="contact">Primary Contact</label>
                                <input type="text" class="form-control" id="contact" name="contact" placeholder="Primary Contact">
                            </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>





        <button type="button" id="btn" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add Food Type</button>
        <br><br><br>


        <h1 class="page-header">Manufacturers</h1>

		<table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zipcode</th>
                <th>Phone</th>
                <th>Primary Contact</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
			{% for manu in manu_list %}
                <tr>
                    <td>{{ manu[1]|title }}</td>
                    <td>{{ manu[2]|title }}</td>
                    <td>{{ manu[3]|title }}</td>
                    <td>{{ manu[4]|title }}</td>
                    <td>{{ manu[5] }}</td>
                    <td>{{ manu[6] }}</td>
                    <td>{{ manu[7]|title }}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#updateManuModal-{{ manu[0] }}">Update
                        </button>
                    </td>
                </tr>
			{% endfor %}
            </tbody>
        </table>

     <button type="button" id="btn" class="btn btn-primary" data-toggle="modal" data-target="#addManuModal">Add Manufacturer</button>

        {% for manu in manu_list %}
            <!-- Manu Update Modal -->
             <div class="modal fade" id="updateManuModal-{{ manu[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Update Manu: {{ manu[1]|title }}</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/edit_manu" name="form" method="post">
                            <input type="hidden" value="{{ manu[0] }}" name="id">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name" value="{{ manu[1] }}">
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address" name="address" value="{{ manu[2] }}">
                            </div>
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" name="city" value="{{ manu[3] }}">
                            </div>
                            <div class="form-group">
                                <label for="state">State</label>
                                <input type="text" class="form-control" id="state" name="state" value="{{ manu[4] }}">
                            </div>
                            <div class="form-group">
                                <label for="zip">Zipcode</label>
                                <input type="text" class="form-control" id="zipcode" name="zipcode" value="{{ manu[5] }}">
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone Number</label>
                                <input type="text" class="form-control" id="phone" name="phone" value="{{ manu[6] }}">
                            </div>
                            <div class="form-group">
                                <label for="contact">Primary Contact</label>
                                <input type="text" class="form-control" id="contact" name="contact" value="{{ manu[7] }}">
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        {% endfor %}






	</div>

{% endblock %}>