{% extends 'home.html' %}
{% block content %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Today's Schedule</h1>
        <div class="container">
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Animal</th>
                        <th>Food Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set index = 0 %}
                    {% for detail in list %}
                        <tr {% if detail[0] == 1 %}
                                class="success"
                            {% elif detail[9] == 1 %}
                                class="warningRed"
                            {% endif %}>
                            <td>{{ detail[4]|title }}</td>
                            <td>{{ detail[6]|title }}</td>
                            <td>{{ detail[8]|title }}</td>
                            <td>
                                {% if detail[0] != 1   %}
                                    <button type="button" id="btn" class="btn btn-primary" data-toggle="modal" data-target="#feedModal{{ index }}">Feed</button>
                                {%  endif %}
                            </td>
                        </tr>
                        {% set index = index + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            {% set index = 0 %}
            {% for detail in list %}

                <!-- Update Modal -->
                <div class="modal fade" id="feedModal{{ index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Feed {{ detail[6] }}</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/add_feed_rec" name="form" method="post">
                                    <input type="hidden" value="{{ detail[5] }}" name="anim_id">
                                    <input type="hidden" value="{{ detail[3] }}" name="time_of_day">

                                    <div class="form-group">
                                        <label for="type">Food Type</label>
                                        <select id="type" name="type" class="form-control">
                                            {% for food in food_list %}
                                                <option {% if food[0] == detail[7] %} selected {% endif %} value="{{ food[0] }}">{{ food[1]|title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="amount">Food Amount</label>
                                        <input type="text" class="form-control" id="amount" name="amount" placeholder="lbs">
                                    </div>
                                    <div class="form-group">
                                        <label for="keeper">Zoo Keeper</label>
                                        <select id="keeper" name="emp_id" class="form-control">
                                            {% for keeper in keepers_list %}
                                                <option value="{{ keeper[0] }}">{{ keeper[1]|title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% set index = index + 1 %}
            {% endfor %}
            <!-- End Update Modal -->
        </div>

    </div>

{% endblock %}