{% extends 'home.html' %}
{% block content %}

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{{ header[1]|title }}</h1>

         <div class="container">
		{% for anim in animals %}
            <a href="/animal/{{ anim[0] }}" class="btn btn-default btn-lg btn-block">{{ anim[1] }}</a> <br>
		{% endfor %}

         <button type="button" id="btn" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add New Animal</button><br>
             <br>

         <table class="table table-hover">
            <thead>
            <tr>
                <th>Keepers</th>

            </tr>
            </thead>
            <tbody>
			{% for keep in keepers %}
                <tr>
                    <td>{{ keep[1] }}</td>
                </tr>
			{% endfor %}
            </tbody>
        </table>
         <br>

          <table class="table table-hover">
            <thead>
            <tr>
                <th>Vets</th>

            </tr>
            </thead>
            <tbody>
			{% for vet in vets %}
                <tr>
                    <td>{{ vet[1] }}</td>
                </tr>
			{% endfor %}
            </tbody>
        </table>




        </div>



{#        <!-- Modal -->#}
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add New Animal</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/add_animal" name="form" method="post">
                            <input type="hidden" value="{{ id }}" name="spec_id">
                            <div class="form-group">
                                <label for="name">Animal's Name</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="sex">Sex</label>
                                <select id="sex" name="sex" class="form-control">

                                    <option value="f">Female</option>
                                    <option value="m">Male</option>

                                </select>
                            </div>
                             <div class="form-group">
                                <label for="dob">Date of Birth</label>
                                <input type="date" class="form-control" id="dob" name="dob" placeholder="yyyy-mm-dd">
                            </div>

                            <div class="form-group">
                                <label for="sched_id">Feed Schedule</label>
                                <select id="sched_id" name="sched_id" class="form-control">
                                    {% for sched in feed_sched %}
                                        <option value="{{ sched[0] }}">{{ sched[1]|title }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="acquired">Date Acquired</label>
                                <input type="date" class="form-control" id="acquired" name="acquired" placeholder="yyyy-mm-dd">
                            </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>

	</div>

{% endblock %}